.sectionabout .secContainer .title {
  color: black;
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
}

.sectionabout .secContainer .mainContent {
  gap: 0.1rem;
}

.sectionabout .secContainer .mainContent .singleItem {
  text-align: center;
}

.sectionabout .secContainer .mainContent .singleItem img {
  background:#E8C547;
  width: 200px;
  height:200px;
  border-radius: 50%;
  padding: 1rem;
}

.sectionabout .secContainer .mainContent .singleItem h3 {
  font-weight: 700;
  color: black;
  padding: 0.5rem;
}

.sectionabout .secContainer .mainContent .singleItem p {
  font-size: 13px;
  font-weight: 500;
  padding-bottom: 0.5rem;
  color: white;
}

.sectionabout .secContainer .Videocard .cardcontent {
  gap: 2rem;
  padding: 1rem 2rem;
}

.sectionabout .secContainer .Videocard .cardcontent .cardText h2 {
  color: black;
  font-weight: 600;
  padding-bottom: 1rem;
}

.sectionabout .secContainer .Videocard .cardcontent .cardText p {
  color: black;
  opacity: 0.7;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
}

@media screen and (min-width: 884px) {
  .sectionabout .secContainer .Videocard .cardcontent {
    gap: 4rem;
    padding: 4rem 3rem;
  }

  .sectionabout .secContainer .Videocard .cardcontent .cardText h2 {
    font-size: 2rem;
  }

  .sectionabout .secContainer .Videocard .cardcontent .cardText p {
    opacity: 0.7;
    font-size: 15px;
  }

  .sectionabout .secContainer .Videocard .cardcontent {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (min-width: 1024px) {
  .sectionabout .secContainer .mainContent {
    padding: 2.5rem 0;
  }
}
